<!DOCTYPE html>
<html lang="en">
<head>
    {% with message1 = get_flashed_messages() %}
        {% if message1 %}
        <ul>
            {% for i in message1 %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}
    <h1>Welcome{{name}}!</h1>
</head>
<p>
    <a href="www.google.com">not google</a>
</p>
<body>
    <ul>
        {% for i in city_names %}
            <li>{{i}}</li>
        {%endfor%}
    </ul>

<form action= "" method="POST">
    <p>City Name<br><input id = "text" name = "text"></p>
    <p><input type = "submit" name = "submit"></p>

</form>
</body>
</html>
