<!DOCTYPE html>
<html lang="en">
<head>
    {% with message1 = get_flashed_messages() %}
    <ul>
        {% if message1 %}
            <li>{{ message1[0] }}</li>
        {% endif %}
    </ul>
    {% endwith %}
    <h1>Welcome{{name}}!</h1>
</head>
<p>
    <a href="www.google.com">not google</a>
</p>
<body>
    <ul>
        {% for i in city_names %}
            <li>{{i}}</li>
        {%endfor%}
    </ul>

<form action= "/" method="post">
    <p>City Name<br><input name = 'text'></p>
    <input type="submit">

</form>
</body>
</html>
